# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

__pycache__/
*.pyc
.env.local

packages/hardhat/artifacts/
packages/hardhat/cache/
packages/hardhat/typechain-types/