.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store   
node_modules
package-lock.json
yarn-error.log
npm-debug.log*
.vscode
.idea
*.sublime-project
*.sublime-workspace
*.sublime-settings
*.swp
*.swo
*.swn
*.swm
*.swp
*.swo
*.swm